<!DOCTYPE html>
<html>
<head>
 <title> DIPSS DATABASE </title>
 <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
<body style="background-color:#000000;"></body>
    <h2 style="color:white;">Query Function and structure</h2>
    <p align="center"><a href=v_timestamp ><button class=grey style="height:125px;width:200px">Function Table</button></a></p>
    <p align="center"><a href=query_functionstruct><button class=grey style="height:125px;width:200px">Function-struct Query</button></a></p>

</body>
</html>




